<div class="background-exo3">
  <div class="bloc-supérieur-exo3">
    <div class="textes-exo3">
      <p class="h1-exo3">10,000+ of our users love our products.</p>
      <p class="presentation-bloc1-exo3">We only provide great products combined with excellent customer service. See what our satisfied customers are saying about our services.</p>
    </div>
    <div class="ratings-exo3">
      <div class="wrapper-haut-exo3">
        <div class="one-exo3">
          <div class="stars-exo3">
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
          </div>
            <p class="commentaires-exo3">Rated 5 stars in review</p>
          </div>
        <div class="two-exo3">
          <div class="stars-exo3">
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
          </div>
            <p class="commentaires-exo3">Rated 5 stars in Report Guru</p>
          </div>
        <div class="three-exo3">
          <div class="stars-exo3">
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
            <%= image_tag "star-exo3.png", width: 18, height: 15 %>
          </div>
            <p class="commentaires-exo3">Rated 5 stars in BestTech</p>
          </div>
      </div>
    </div> </div>
  <div class="bloc-inférieur-exo3">
    <div class="wrapper-bas-exo3">
      <div class="four-exo3">
        <div class="bloc-commentaire-exo3">
          <%= image_tag "image-colton.jpg", class:"avatar-exo3"%>
          <div class="presentation-buyer-exo3">
            <p class="nom-exo3">Colton Smith</p>
            <p class="verified-buyer-exo3">Verified buyer</p>
          </div>
        </div>
        <div class="texte-exo3">
          <p>"We needed the same printed design as the one we had ordered one week prior. Not only did they find the original order, but we also received it in time. Excellent !"</p>
        </div>
      </div>
      <div class="five-exo3">
        <div class="bloc-commentaire-exo3">
            <%= image_tag "image-irene.jpg", class:"avatar-exo3"%>
            <div class="presentation-buyer-exo3">
              <p class="nom-exo3">Irene Roberts</p>
              <p class="verified-buyer-exo3">Verified buyer</p>
            </div>
        </div>
        <div class="texte-exo3">
          <p>"They products are the best ! As soft as red panda's furr. Lovely. Would totally recommend."
          </p>
        </div>
      </div>
      <div class="six-exo3">
        <div class="bloc-commentaire-exo3">
            <%= image_tag "image-anne.jpg", class:"avatar-exo3"%>
            <div class="presentation-buyer-exo3">
              <p class="nom-exo3">Anne Wallace</p>
              <p class="verified-buyer-exo3">Verified buyer</p>
            </div>
        </div>
        <div class="texte-exo3">
          <p>"They products are the best ! As soft as red panda's furr. Lovely. Would totally recommend."
          </p>
        </div>
      </div>
    </div></div>
</div>
